<h1>Add an Artist</h1>

<p>Add a Artist here:</p>

<form action="/artists" method="post">
  <label for="name">Artist name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add artist</button>
</form>
