<p>Add a new CD:</p>

<form action="/cds" method="post">
  <label for="genre">Genre: </label>
  <input id="genre" name="genre" type="text">

  <label for="album">Album:</label>
  <input id="album" name="album" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>
